<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

        <title>{% block title %}{% endblock %}This is {{ name }} Website</title>
    {% endblock %}

</head>
<body>
<div id="main_menu" class="green">
     <h1><span class="diffont">Z</span>henya's Page</h1>
</div>

<div id="main_content" class="red">

    <p>
        How to Stay Healthy Guide
    </p>
</div>

<div id="main_content" class="blue">

    </p>
    Stay healthy by exercising daily.
    </p>
    <p>
    Eat variety of vegetables and fruits to ingest natural vitamins.
    </p>
    <p>
    Schedule frequent medical checkups with your general practitioner, dentist etc.
    </p>
</div>
</body>
</html>
